---
import EllieBox from "../components/Ellie-Box.svelte";
import EllieExample from "../components/Ellie-Example.svelte";
import i18next, { changeLanguage, setDefaultNamespace, t } from "i18next";
import Main from "../layouts/Main.astro";
import FAQ from "../components/FAQ.astro";
import Proof from "../components/Proof.astro";
import Text from "../components/Text.svelte";
import Stats from "../components/Stats.svelte";
import Stars from "../components/Stars.svelte";
import { Trans } from "astro-i18next/components";
import Video from "../components/Video.svelte";
import HeaderText from "../components/HeaderText.svelte";
import NewPricingComponent from "../components/NewPricing.svelte";
import DownloadComponent from "../components/Download.svelte";

changeLanguage("en");

setDefaultNamespace("common");
const locale = i18next.language || "en";
const p = i18next.getResource(i18next.language, "pricing", "", {});
const exampleAdvancedTrainingInput = i18next.getResource(i18next.language, "features", "learning.exampleInput", {});
const exampleAdvancedTrainingOutput = i18next.getResource(i18next.language, "features", "learning.exampleOutput", {});
const exampleEmailTrainingInput = i18next.getResource(i18next.language, "features", "emailTraining.exampleInput", {});
const exampleEmailTrainingOutput = i18next.getResource(i18next.language, "features", "emailTraining.exampleOutput", {});
---

<Main title={t("meta.title")}>
  <div class="page">
    <div class="hero">
      <div class="wider-content">
        <!-- <p class="subtitle">Meet Ellie - your AI email assistant!</p> -->
        <h1 class="hero-title">
          <Trans i18nKey="hero.title" ns="common">
            Professional, bespoke emails, written in your style. <Text important
              >Save hours every day</Text
            > in your inbox
          </Trans>
        </h1>
        <p class="hero-lead subtitle">
          {t("hero.description")}
        </p>
        <!-- <div class="discount">
          <p>{t("hero.discount")}</p>
        </div> -->
        <Video
          flat
          innerClass="hero-img"
          client:load
          url="https://ellie.b-cdn.net/hero.mov"
        />
      </div>
    </div>

    <section class="download-section">
      <div class="container">
        <span class="btn-group">
          <span>
            <a class="btn cta" href="/downloads">
              <span>{t("main.cta")}</span>
              <span class="browser-icons">
                <img
                  class="browser-icon"
                  src="/assets/chrome.png"
                  alt="chrome icon"
                />
                <img
                  class="browser-icon"
                  src="/assets/firefox.png"
                  alt="firefox icon"
                />
              </span>
            </a>
            <span class="available">{t("main.version")}</span>
          </span>
          <a class="btn cta secondary" href="/pricing">
            <span>{t("main.purchase")}</span>
          </a>
        </span>
        <span class="btn-group demo-btn-group">
          <a class="btn cta secondary arrow-btn" href="/demo">
            <span
              >{t("main.demo")}
              <svg
                id="i-arrow-right"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                width="16"
                height="16"
                fill="none"
                stroke="currentcolor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
              >
                <path d="M22 6 L30 16 22 26 M30 16 L2 16"></path>
              </svg>
            </span>
          </a>
        </span>
      </div>
    </section>

    <Proof />

    <!-- <section class="container">
      <div class="price-banner">
        <Trans i18nKey="banner.promo">
          <p>Ellie is now lightning fast ⚡️</p>
          <p>
            Ellie now writes replies 10x faster than before! Enjoy 50% off all plans with the promo code
            <strong class="promo-code">FASTER50</strong>
          </p>
          <p>Available this week only!</p>
        </Trans>
        <a class="btn cta secondary banner" href="/pricing">
          <span>{t("main.purchase")}</span><svg
            style="margin-left: 5px"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            width="16"
            height="16"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          >
            <path d="M22 6 L30 16 22 26 M30 16 L2 16"></path>
          </svg>
        </a>
      </div>
    </section> -->

    <!-- <HeaderText>Features</HeaderText> -->
    <section class="section-full image-section">
      <div class="section-text-full">
        <h2>{t("features:context.title")}</h2>
        <Trans i18nKey="context.content" ns="features">
          <p class="subtitle">
            Ellie takes context from the email thread to
            <Text important>craft intelligent replies</Text>.
          </p>
          <p class="subtitle">
            We promise you'll be blown away by Ellie's responses!
          </p>
        </Trans>
      </div>
      <div class="full-width-image-container">
        <picture role="presentation" class="context-image">
          <source
            class="context-image-vertical"
            media="(max-width: 850px)"
            srcset="/assets/images/ellie-context-vertical.png"
          />
          <img
            src="/assets/images/ellie-context.png"
            alt="Showing Ellie write a context filled email"
          />
        </picture>
      </div>
    </section>

    <!-- {locale === "en" ? <DemoBanner /> : null} -->

    <section class="section-full image-section">
      <div class="section-text-full">
        <h2>{t("features:emailTraining.title")}</h2>
        <p class="subtitle">
          <Trans i18nKey="emailTraining.content" ns="features">
            By providing Ellie with your previous sent emails the AI will <Text important>learn how to reply exactly like you</Text>.
          </Trans>
        </p>        
        
      </div>
      
      <div class="full-width-image-container">
        <EllieExample 
          arrow="email-history-arrow" 
          subject="Card being replaced" 
          name="training" 
          input={exampleEmailTrainingInput} 
          output={exampleEmailTrainingOutput} 
          client:visible 
        />
      </div>
    </section>

    <section class="section-full image-section">
      <div class="section-text-full">
        <h2>{t("features:learning.title")}</h2>
        <p class="subtitle">
          <Trans i18nKey="learning.content" ns="features">
            Ellie can <Text important>learn any information you provide from files or websites</Text>, and
            use that information in it's replies. 
          </Trans>
        </p>        
        
      </div>
      <div class="full-width-image-container">
        <EllieExample 
          arrow="pdf-training-arrow" 
          subject="VAT Figures Q4 2022" 
          name="advanced-training" 
          input={exampleAdvancedTrainingInput} 
          output={exampleAdvancedTrainingOutput} 
          client:visible 
        />      
      </div>
    </section>

    <!-- <section class="section-full image-section">
      <div class="section-text-full">
        <h2>{t("features:learning.title")}</h2>
        <p>
          <Trans i18nKey="learning.content" ns="features">
            Ellie can <Text important>learn any information you provide from files or websites</Text>, and
            use that information in it's replies.
          </Trans>
        </p>
        <div class="inline-review">
          <Stars />
          <blockquote>
            <p class="review-text">
              <Trans i18nKey="victor" ns="testimonials">
                Ellie saves me so much time, it's now <span
                  class="review-highlight">my favourite productivity tool!</span
                >
              </Trans>
            </p>
            <p class="review-author">- Victor M</p>
          </blockquote>
        </div>
      </div>
    </section> -->

    {locale === "en" ? <DownloadComponent /> : null}

    <section class="section-full">
      <div class="section-text-full">
        
        <h2 style="max-width: 500px;margin: 0 auto;">
          <Trans i18nKey="extras.title" ns="features">
            Plus many more powerful features for <Text important>writing faster emails</Text>
          </Trans>
        </h2>
        
      </div>
      <ul class="features-list">        
        <li>
          <div class="feature-header">
            <h4>{t('features:extras.multilingual.title')}</h4>
          </div>
          <p class="feature-desc">
            <Trans i18nKey="extras.multilingual.content" ns="features">
              Ellie will reply in <Text important>any language</Text> to match the email being replied to.
            </Trans>
          </p>
          <div class="feature-example">
            <EllieBox client:only name="multilingual" text="Salut Bruce,\n\nMerci de m'avoir répondu si rapidement un dimanche..." />
          </div>
        </li>
        <li>
          <div class="feature-header">
          <h4>{t('features:extras.roles.title')}</h4>
          </div>
          <p class="feature-desc">
            <Trans i18nKey="extras.roles.content" ns="features">
              Assign Ellie <Text important>different roles for different emails</Text>. Perfect for context switching.
            </Trans>
          </p>
          <div class="feature-example">
            <EllieBox client:only name="roles" text="Hi Phillip,\n\nThis is Danielle here from the customer support team..." />
          </div>
        </li>
        <li>
          <div class="feature-header">
            <h4>{t('features:extras.context.title')}</h4>
          </div>
          <p class="feature-desc">
            <Trans i18nKey="extras.context.content" ns="features">
              Provide <Text important>additional context</Text> in each email Ellie writes for the perfect reply.
            </Trans>
          </p>
          <div class="feature-example">
            <EllieBox client:only name="context" text="Hey Dave,\n\nI actually got a new job, can you remove me from this list?" />
          </div>
        </li>
      </ul>
    </section>

    <HeaderText>{t('pricing:header')}</HeaderText>
    <NewPricingComponent client:only translations={p} locale={locale} />

    

    <br /><br /><br /><br /><br /><br />
    <HeaderText>FAQ</HeaderText>
    <FAQ />
  </div>
</Main>

<style>
  .subtitle {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 500;
    opacity: 0.85;
    max-width: 570px;
  }
</style>
